.js #access {
	display: block;
	background: url('images/nav-bg.png') no-repeat transparent;
	margin-left: -40px;
	margin-right: -80px;
	z-index: 99;
	height: 61px;
}

body {
	background: #D7D7D7 url('images/bg-main6.png') no-repeat top center;
	background-position: center 54px;
}
.site-title a {
	position: relative;
	z-index: 999;
}
#page {
	background: transparent url('images/bg-test2.jpg') no-repeat top center;
}
#page > .wrap {
	padding: 0 18px 3.333333% 18px;
	background: url('images/bg-interior-content.png') 0 195px repeat-x #fff;
	position: relative;
}
#drop-section-nav {
	padding: 0;
	margin: 0 auto;
	background: url('images/drop-section-nav-bg.png') repeat-x transparent;
	-webkit-box-shadow: inset 0px 0px 20px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    inset 0px 0px 20px rgba(50, 50, 50, 0.58);
	box-shadow:         inset 0px 0px 20px rgba(50, 50, 50, 0.58);
	
}
#drop-nav.wrap {
	padding: 0;
}
.drop-nav-list {
	float: left;
}
.top-agency.agrilife {
						
}

/* main menu */
#access ul.menu li {
		margin: 0;
		background: url('images/nav-divider.png') no-repeat right center;
		padding: 1em 2em 1em 2em;
		float: left;
	}
	#access ul.menu li li{
		border-radius: 0;	
	}	
	#access ul.menu li.current-menu-item,
	#access ul.menu li.current_page_parent {
		position: relative;
		z-index: 5;
	}
	#access ul.menu li.current-menu-item:hover,
	#access ul.menu li.current_page_parent:hover {
		/* background: #e3e1d5; */
	}
	#access ul.menu li.current-menu-item:first-child:hover {
		/* background: #f1f0e7;	*/	
	}	
	#access ul.menu li a[title='home'] {
		background-position: 0 0px;
		width: 20px;
	}

	#access ul.menu li a[title='home']:hover {
		background-position: 0 -30px;
	}	

	#access ul.menu li a {
		background: transparent;
		color: #fff;
	}	

	#access ul.menu li a:hover {
		color: #E5DABB;
		text-decoration: none;
	}

	.menu-button {
		display: none;
	}

    /* =============================================================================
	   Dropdown Navigation Styles
	   ========================================================================== */

	#access .sf-menu li {
		font-size: .8em;	
		line-height: 3em;
	}

	#access .sf-menu li:hover {
			
	}

	#access .sf-menu li a {
		padding: 0;			
	}

	#access .sf-menu li.current-menu-item,
	#access .sf-menu li.current_page_parent {
		position: relative;
		z-index: 2;	
	}

	#access .sf-menu ul {
		position:	absolute;
		background-color: #000;
		background-color: rgba(0,0,0,0.8);
		top: -999em;
		width: 26em; /* left offset of submenus need to match (see below) */						
	}	

	#access .sf-menu li:hover {
		visibility:		inherit; /* fixes IE7 'sticky bug' */
		-webkit-transition: .3s background ease;
		-moz-transition: .3s background ease;		
		transition: .3s background ease;	
	}

	#access .sf-menu li a[title='home'] {
		-webkit-transition: none;
		-moz-transition: none;		
		transition: none;
	}

	#access .sf-menu li a {
		border-top-right-radius: none;			
	}	

	#access .sf-menu li:hover a {
		position: relative;
		z-index: 7;					
	}	

	#access .sf-menu ul li:hover {
		visibility:		inherit; /* fixes IE7 'sticky bug' */
		background: transparent;
		border-top-right-radius: none;	
	}	
	#access .sf-menu ul li {
		width:	100%;
		position: relative;
		z-index: 4;	
		border: none;
		font-size: 12px;
		border-bottom: 1px solid #000;	
		background: transparent;
		padding: 1em 0;					
	}	

	#access .sf-menu a {
		display: block;
		position: relative;
		background: transparent;
	}
	#access .sf-menu li:hover,
	#access .sf-menu li.sfHover {
		z-index: 7;
		position: relative;					
	}
	#access ul.menu li li a {
		font-family: "camingodos-web",sans-serif;
		text-transform: none;
		letter-spacing: normal;
		line-height: normal;
		border: none;	
		overflow: hidden;
		margin: 0 0 -1px 0;		
		padding: 1px 15px;	
			
	}
	
	#access .sf-menu li:hover ul,
	#access .sf-menu li.sfHover ul {
		left: 0;
		margin-left: 1px;
		top: 3.3em; /* match top ul list item height */
		z-index: 6;
		position: absolute;	
	}

	#access ul.sf-menu li:hover li ul,
	#access ul.sf-menu li.sfHover li ul {
		top: -999em;		
	}
	#access ul.sf-menu li li:hover ul,
	#access ul.sf-menu li li.sfHover ul {
		left: 15.2em; /* match ul width */
		top: 0;
		margin-left: 0;
		margin-top: 0;
		padding-top: 0;				
	}
	#access ul.sf-menu li li:hover li ul,
	#access ul.sf-menu li li.sfHover li ul {
		top: -999em;
	}
	#access ul.sf-menu li li li:hover ul,
	#access ul.sf-menu li li li.sfHover ul {
		left: 13em; /* match ul width */
		top: 0;
		margin-left: 0px;	
	}
	
	/*** arrows **/
	#access .sf-menu li a.sf-with-ul {
		min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
		background: url(images/down-arrow3.png) no-repeat right 0 transparent; 
		padding-right: 28px;					
	}

	#access .sf-menu li li a.sf-with-ul {
		min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
		background: url(images/right-arrow.png) no-repeat left 58% transparent;
	}


	#access	.sf-sub-indicator {
		position:		absolute;
		display:		block;
		right:			0;
		top:			.55em; /* IE6 only */
		width:			8px;
		height:			11px;
		text-indent: 	-999em;
		overflow:		hidden;

	}
	#access a > .sf-sub-indicator {  /* give all except IE6 the correct values */
		top:			.8em;
		background-position: 0 -100px; /* use translucent arrow for modern browsers*/
	}
	/* apply hovers to modern browsers */
	#access a:focus > .sf-sub-indicator,
	#access a:hover > .sf-sub-indicator,
	#access a:active > .sf-sub-indicator,
	#access li:hover > a > .sf-sub-indicator,
	#access li.sfHover > a > .sf-sub-indicator {
		background-position: -10px -100px; /* arrow hovers for modern browsers*/
	}

	/* point right for anchors in subs */
	#access .sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
	#access .sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
	/* apply hovers to modern browsers */
	#access .sf-menu ul a:focus > .sf-sub-indicator,
	#access .sf-menu ul a:hover > .sf-sub-indicator,
	#access .sf-menu ul a:active > .sf-sub-indicator,
	#access .sf-menu ul li:hover > a > .sf-sub-indicator,
	#access .sf-menu ul li.sfHover > a > .sf-sub-indicator {
		background-position: -10px 0; /* arrow hovers for modern browsers*/
	}

/* End main menu */


/* =============================================================================
   Agency Navigation Styles
   ========================================================================== */
#agency-nav {
	position: absolute;
	top:0;
	left: 31.914893617021%;
}
#agency-nav ul {margin:0; padding:0;}
#agency-nav li {
	display: block;
	list-style: none;
	position: absolute;
}
#agency-nav li a {
	height: 42px;
	width: 100px;
	background: url('images/rodeo.png') no-repeat;
	text-indent: -9999em;
}
#agency-nav  li.tfs-item 			{ z-index:5; }
#agency-nav  li.tfs-item 	a 		{ width: 146px;}
#agency-nav  li.tfs-item 	a:hover { background-position: 0 -84px; }
#agency-nav  li.tvmdl-item 	 		{ z-index:4; left: 123px;}
#agency-nav  li.tvmdl-item 	a 		{ width: 153px; background-position: -123px 0;}
#agency-nav  li.tvmdl-item 	a:hover  { background-position: -123px -42px;}
#agency-nav  li.ext-item			{ z-index: 3; left: 253px;}
#agency-nav  li.ext-item 	a 		{ width: 153px; background-position: -253px 0;}
#agency-nav  li.ext-item 	a:hover { background-position: -253px -84px; }
#agency-nav  li.res-item			{ z-index:2; left: 383px; }
#agency-nav  li.res-item 	a 		{ width: 153px; background-position: -383px 0;}
#agency-nav  li.res-item 	a:hover { background-position: -383px -42px; }
#agency-nav  li.col-item			{ z-index:1; left: 513px; }
#agency-nav  li.col-item 	a 		{ width: 165px; background-position: -513px 0;}
#agency-nav  li.col-item 	a:hover { background-position: -513px -84px; }
#agency-nav  li.tvmdl-item:hover,
#agency-nav  li.ext-item:hover,
#agency-nav  li.res-item:hover,
#agency-nav  li.col-item:hover 		{ z-index: 100; }

/* =============================================================================
   END Agency Navigation Styles
   ========================================================================== */


.content-wrap {	
	overflow: hidden;
	margin-bottom: 1.25em;
	margin-top: -19px;
	padding-bottom: 1em;
	position: relative;
	z-index: 2;		
}
.home .content-wrap {
	background: url('images/just-the-tip.png') no-repeat;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.home #page > .wrap {
	background-position: 0 540px;
}
.home #content {
	float: left;
	padding-top: 0;
}
.home #sidebar {
	float: right;
	background: transparent;
	padding-top: 0;
}
.widget {
	margin: 0;
}
.home .home-widgets-lower .widget {
	float: left;
	/*width: 31.914893617021%;*/
	margin: 0 2.126759574468% 0 0;
	padding: 0;
}
.home .home-widgets-lower .widget:last-child {
	margin: 0;
}

.content-wrap:after {		
	content: " ";
	position: absolute;
	display:block;
	z-index:-1; 
	top:0; 
	right:0; 
	bottom:0; 
	left:0;
	width: 31.914893617021%;				
}	

/* Fluid Grid Classes */	
.one-of-3 {
	width: 31.914893617021%; /* 300px / 940px */
}
.two-of-3 {
	width: 65.957446808511%; /* 620px / 940px */
}
.one-of-2 {
	width: 48.387096774194%;  /* 300px / 620px */
}		
/* Media Boxes for larger screens */
.cat-nav-inner {		
}		
.mb-img,
.attachment-feature-thumb {
	width: 33%;
}
/* End Media Boxes for larger screens */

.site-title {
	margin-top: -49px;
	background: url('images/logo-main.png') no-repeat top center;
	width: 319px;
	height: 115px;
	position: relative;
	z-index: 99;	
}	
.site-title a {		
	/* margin: 0 3.333333333%; /* 10px / 300px */		
}

.home .site-title {
	height: 95px;
}
#drop-nav ul li.menu-button a {
	display: none;
}
#drop-nav ul.drop-nav-list li.menu-item {
	float: right;
	display: inline;
	font: .7em "camingodos-web",sans-serif;;
	line-height: 4em;
	margin-right: 1em;
}
ul.drop-nav-list li.menu-item a {
	color: #9F6D56;
	margin-right: 1em;
}
ul.drop-nav-list li.menu-item:after {
	content: '/';
	color: #9F6D56;
}
ul.drop-nav-list li:first-child:after {
	content: '';
}

.featured-content {
	background: url('images/featured-content-bg.png') #fff repeat-y;
	margin-top: -20px;
	position: relative;	
	margin-bottom: 0;
	min-height: 453px;
}
.featured-stories .mb-inner {
	margin: 5px 77px;
}
.agency-research .mb-inner a h2 {
	background-color: #5C8C39;
}
.agency-college .mb-inner a h2 {
	background-color: #500000;
}	
.agency-extension .mb-inner a h2 {
	background-color: #1B607B;
}		
.agency-tfs .mb-inner a h2 {
	background-color: #4F552A;
}
.agency-tvmdl .mb-inner a h2 {
	background-color: #8c5933;
}

.featured-stories-container {
	margin-bottom: 0;
}		
ol.featured-stories  {
	position: relative;
	z-index: 3;
	float: left;
	list-style: none;
	padding: 0;
}
.featured-stories li {

}
.featured-stories a,
a.cat-nav-post-link {
	-webkit-transition: .2s color linear;
	-ms-transition: .2s color linear;				
}	
.featured-stories a:hover,
a.cat-nav-post-link {
	text-decoration: none;
	color: #222;
}
.featured-stories a img {
	-webkit-transition: .2s opacity linear;
	-ms-transition: .2s opacity linear;		
	opacity: .7;
}	
.featured-stories .active .cat-post-title {
	color: #000;
	color: rgba(0,0,0,.95);
}
.featured-stories .active img {
	opacity: 1;
}		
#feature-container {
	display: block;
	float: right;
	width: 660px; /* 68.085106382979%; /* 640px / 940px */
	position: relative;
	margin-top: 20px;
}
#loading {
	width: 15px;
	left: 49%;
	top: 100px;
	position: absolute;
}
.slides {
	position: relative;	
	list-style: none;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.slides:after,
.featured-stories:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	margin-bottom: -4px;				
}		
.slides li {
	position: absolute;
	top: 0;
	left: 0;		
	-webkit-transition: .3s all linear;	
	-moz-transition: .3s all linear;		
}
.slides li a h2 {
	font-weight: 100;
	color: #ddd;			
}	
.slides li a:hover {
	text-decoration: none;	
	color: #fff;	
}
.slides li a:hover h2 {
	text-decoration: none;	
	color: #fff;	
}	
.slides img {
	width: 100%;
	height: auto;
	opacity: 0;
	-webkit-transition: .3s all linear;	
	-moz-transition: .3s all linear;
	-ms-transition: .3s all linear;		
						
}
.slides li.active {
	z-index: 2;
	position: relative;
}
.slides .slide-details {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #010101;		
	background: rgba(0,0,0,.6);
	padding: 0 1em;
	color: #fff;
	opacity: 0;
	/* width: 66%; */
	text-align: right;
	-webkit-transition: .7s all linear;	
	-moz-transition: .7s all linear;	
	-ms-transition: .7s all linear;	
	overflow: hidden;		
}		
.slides .slide-details h2 {
	font-size: 1em;
	font-style: italic;
	font-weight: 100;	
}	
.slides li.active img, 
.slides li.active .slide-details{
	opacity: 1;
	bottom: 0;		
}					
#content {
	float: right;
	padding-top: .6em;
}
.entry-title {
	text-rendering: optimizeLegibility;
	/* font-size: 1.625em; /* 26px / 16px */	
	font-weight: normal;
}	
.home-widgets-lower {
	clear: both;
}	
.cat-nav-inner:hover {	
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.cat-nm {
	font-size: 1em; /* 16px */
	position: relative;
}			
.cat-nav {
	float: left;
	margin-right: 2.126759574468%; /* 20px / 640px */				
}
.cat-nav.third,
.cat-nav.last {
	margin-right: 0;
}
.cat-post-title {
	font-size: 0.75em; /* 12px / 16px */
	color: #62625d;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);		
}	
a.cat-nav-post-link:hover .cat-post-title {
	color: #000;
}
.post p.wp-caption-text {
	padding: 1% 0;
	max-width: 100%;	
}	
#sidebar {
	float: left;
	margin: 0;
	padding-top: 100px;
	background: url('images/logo-main.png') no-repeat #F2EDDD 0 -165px;
}
.search-widget {
	background: none;
	margin-bottom: 0;
}
.top-button {	
	display: none;	
}
body.home .post.spotlight {
	padding-left: 0;
}		
.post, #content .page, #comments {
	margin-left: 1.612903225806%; /* 10px / 620px */
	margin-left: 0;
	padding-right: 0;
	padding-top: 60px;
	font-weight: 300;
}
.post p, #content .page p {
	font-size: 1em;
	margin-bottom: 1.25em; /* 20px / 16px */
	line-height: 1.375em; /* 22px / 16px */
}
h1.section-title {
	color: #A3A2A5;
	text-transform: uppercase;
	font-size: 2.6em;
	letter-spacing: 3px;
	position: absolute;
	padding: 0;
	margin-top: 40px;
}
.recent-stories .post {
	padding: 3.3333333%;
	margin: 0;
}
.recent-column-first {
	float: left;
}	
.recent-column-second {
	float: right;
}
.recent-column-second p {
	padding-right: 5%;
}		
.widget select {
	background: #f4f4ee;
	border: 1px solid #d2d2ca;
	color: #64645a;
	font-size: 0.75em; /* 12px / 16px */
}	
.recent-stories li a {
	display: block;
	color: #98988c;
	padding-bottom: .5em;
}	
.recent-stories li a.first {
	border-top: none;
}
.recent-stories li a.last {
	border-bottom: none;
}

.cat-all-button {
	font-size: 0.75em; /* 12px / 16px */
	margin-top: -2px;
}
h2.mb-post-title {
	margin: 0 0 3px 0;
	width: 165px;
	height: 70px;
	display: block;
	text-indent: -9999px;
}
.agency-college h2.mb-post-title{
	background: url('images/logo-col.png') 10px 19px no-repeat;
}
.agency-extension h2.mb-post-title{
	background: url('images/logo-ext.png') 15px 10px no-repeat;
}
.agency-research h2.mb-post-title{
	background: url('images/logo-res.png') 15px 10px no-repeat;
}
.agency-tvmdl h2.mb-post-title{
	background: url('images/logo-tvmdl.png') 20px 5px no-repeat;
}
.agency-tfs h2.mb-post-title {
	background: url('images/logo-tfs.png') 14px 17px no-repeat;
}

/* =============================================================================
   Styles user can incorporate into content
   ========================================================================== */


.entry-content .one-of-2 {
	width: 48%;
	clear: both;
	float: left;
	margin-bottom: 10px;
	padding-right: 2%;		
}		
.entry-content .two-of-2 {
	width: 48%;
	float: left;	
	margin-bottom: 10px;
	padding-right: 2%;					
}
.entry-content .two-of-2 ul, .entry-content .one-of-2 ul,
.entry-content .one-of-3 ul, .entry-content .two-of-3 ul, .entry-content .three-of-3 ul {
	margin-left: 1em;		
} 	
.entry-content .one-of-3 {
	width: 30%;
	clear: both;
	float: left;
	margin-bottom: 10px;
	padding-right: 2%;						
}

.entry-content .two-of-3 {
	width: 30%;
	float: left;
	margin-bottom: 10px;
	padding-right: 2%;						
}

.entry-content .three-of-3 {
	width: 30%;
	float: left;
	margin-bottom: 10px;
	padding-right: 2%;				
}

/* =============================================================================
   End - Styles user can incorporate into content
   ========================================================================== */

					
